server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/movie_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
